/* Normalização de box-sizing */
* {
    box-sizing: border-box;

}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1rem; /* 16px como base para rem */
}

/* Header */
header {
    color: #fff;
    margin: 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; /* 16px */
    background-color: transparent;
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0.0625rem 0.3125rem rgba(0,0,0,0.1); /* 1px 5px */
}

.navbar .logo {
    font-size: 1.5rem; /* 24px */
    color: #fff;
    text-decoration: none;
    margin-left: 1rem; /* 16px */
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 1rem; /* 16px */
}

.nav-links a {
    color: #000;
    text-decoration: none;
    font-size: 1.5rem; /* 24px */
    transition: color 0.2s, transform 0.2s;
}

.nav-links a:hover {
    color: #A149F8;
    transform: scale(1.1);
}

.navbar a.active {
    color: #A149F8;
}

/* Section */
.section {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 2rem; /* 32px */
    box-sizing: border-box;
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem; /* 32px */
}

.section-content h1 { 
    margin-top: 2rem; /* 32px */
    font-size: 4rem; /* 64px */
    font-weight: 700;
}

.section-content p {
    margin-top: 1rem; /* 16px */
    font-size: 1.5rem; /* 24px */
}

.section-content button {
    margin-top: 1rem; /* 16px */
    font-size: 1rem; /* 16px */
}

.section img { 
    margin-right: 2rem; /* 32px */
}

.text-content {
    flex: 1;
    margin-right: 2rem; /* 32px */
}

.image-content {
    flex: 1;
}

.image-content img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0.0625rem solid #ccc; /* 1px */
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem; /* 16px */
    width: 100%;
}

/* Botão de seção */
.section_button {
    position: relative;
    display: inline-block;
    margin: 1rem; /* 16px */
    padding: 1rem 2rem; /* 16px 32px */
    text-align: center;
    font-size: 1rem; /* 16px */
    letter-spacing: 0.0625rem; /* 1px */
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, #6E8EFF, #9C61D6);
    cursor: pointer;
    transition: ease-out 0.5s;
    border: none;
    border-radius: 0.625rem; /* 10px */
}

.section_button:active {
    transform: scale(0.9);
}

/* Botão geral */
.btn {
    width: 8.75rem; /* 140px */
    height: 3.125rem; /* 50px */
    background: linear-gradient(to top, #00154c, #12376e, #23487f);
    color: #fff;
    border-radius: 1.5625rem; /* 25px */
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0.9375rem 1.875rem rgba(0, 0, 0, 0.5); /* 15px 30px */
    overflow: hidden;
}

.btn span {
    font-size: 0.75rem; /* 12px */
    text-transform: uppercase;
    letter-spacing: 0.0625rem; /* 1px */
    transition: top 0.5s;
}

.btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
}

.btn:hover .btn-text-one {
    top: -100%;
}

.btn:hover .btn-text-two {
    top: 50%;
}

/* Flex div */
.div {
    display: flex;
}

/* Media Queries */
@media (max-width: 48rem) { /* 768px */
    .navbar .logo {
        margin-right: 0;
    }

    .section-content {
        margin-left: 1rem; /* 16px */
    }

    .section-content h1 {
        font-size: 3rem; /* 48px */
    }

    .section-content p {
        font-size: 1.2rem; /* 19.2px */
    }

    .section-content button {
        font-size: 0.9rem; /* 14.4px */
    }

    .text-content {
        margin-right: 1rem; /* 16px */
    }

    .btn {
        width: 7.5rem; /* 120px */
        height: 2.8125rem; /* 45px */
    }

    .btn span {
        font-size: 0.7rem; /* 11.2px */
    }
}

@media (max-width: 30rem) { /* 480px */
    .section-content h1 {
        font-size: 2rem; /* 32px */
    }

    .section-content p {
        font-size: 1rem; /* 16px */
    }

    .section-content button {
        font-size: 0.8rem; /* 12.8px */
    }

    .btn {
        width: 6.25rem; /* 100px */
        height: 2.5rem; /* 40px */
    }

    .btn span {
        font-size: 0.6rem; /* 9.6px */
    }
}

.aulas {
    display: flex;
    flex-wrap: wrap; /* Permite que os cards se movam para a linha seguinte */
    justify-content: space-between; /* Alinha os cards horizontalmente com espaço entre eles */
    gap: 20px; /* Espaço entre os cards */
}

.card {
    border: 1px solid black; /* Adiciona borda ao card */
    padding: 10px; /* Adiciona padding interno ao card */
    width: calc(50% - 20px); /* Ajusta a largura dos cards */
    margin: 10px; /* Adiciona margem ao redor dos cards */
    background-color: #fff; /* Fundo branco para os cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra ao card */
}

iframe {
    width: 100%; /* Faz com que o iframe ocupe toda a largura do card */
    height: 315px; /* Define uma altura fixa para o iframe */
    border: none; /* Remove a borda do iframe */
}
